<div class= "wrapper">
    <div id="content-wrapper">
        <div class= "column">
            <h4 class= "page-header"> Sign Up</h4>
        </div>
        <div align="center">
            <div class="panel panel-default panel-signup">
                
                    <div class="panel-body">
                        <h4 class="top-sntnc"> Welcome to Afya Kit </h4>
                        <%= image_tag "signup_afyakit_logo.svg", :class => "afyakit_icon" %>
                        <p class="sntnc"> Create your free account </p>
                        <%= link_to new_doctor_path, remote: true, class: "btn btn-danger btn-reddish" do %>
                                <i id="btn-icon" class="fa fa-user-md fa-lg"></i> I'm a Doctor
                        <% end %>
                        <%= link_to new_patient_path, remote: true, class: "btn btn-danger btn-reddish" do %>
                                <i id="btn-icon" class="fa fa-user fa-lg"></i> I'm a Patient
                        <% end %>
                        <div class='lnk'>
                          <%= link_to "I already have an account", signin_path, class: "text-reddish" %>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div id="doctor-modal" class="modal fade"></div>
<div id="patient-modal" class="modal fade"></div>