<div id="side-list-menu">
    <div class="list-group">
        <button type="button" class="list-group-item">History</button>
        <button type="button" class="list-group-item">Problems</button>
        <button type="button" class="list-group-item">Medications</button>
        <button type="button" class="list-group-item">Immunizations</button>
        <button type="button" class="list-group-item">Vitals</button>
        <button type="button" class="list-group-item">Notes</button>
        <button type="button" class="list-group-item">Labs/Studies</button>
    </div>
</div>